<div class="photo-container bg-img-overlay">
  <%= cl_image_tag("backgrounds-close-up-close-up-colors-572487_er0ldo.jpg", :transformation=>[
  {:gravity=>"auto", width: 2200, height:600, crop: 'crop'},
  ]) %>
</div>
