// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Akronim|Didact+Gothic|Lobster|Monoton|Open+Sans|Open+Sans+Condensed:300&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/list";


li {
  list-style: none;
  font-family: 'Didact Gothic'
}
body {
  background: #fffdf7;
}

.container {
  background-color: white;
  box-shadow: 3px 4px 8px lightgrey;
  border-radius: 10px;
  width:80%;
  margin: 20px auto;
}

.round {
  border-radius: 5px;
}

.card {
  font-size:20px;
  background-color:#white;
  font-weight:bold;
  margin: 5px;
  box-shadow: 2px 2px 2px #white;
  height: 300px;
    overflow: hidden;
  a {
    color: #050259;
    font-family: 'Didact Gothic';
  }
}

.card:hover {
  background-color: #7C05F2;
  box-shadow: 2px 2px 8px lightgrey;
  a {
    color: #050259;
    font-size:21px;
    text-decoration: none;
  }
}


h1 {
  font-family: 'Lobster';
  color: #050259;
  font-size: 40px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;

}

#logo-text {
  font-family: 'Lobster';
  font-size: 38px;
  text-align: center;
  color: black;
}

.cocktail-name {
  font-family: 'Lobster';
  font-size: 25px;
  margin:10px;
}

.navbar {
  position: fixed;
  width:100%;
}


.card-ingredient {
  padding:15px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 7px;
}

.photo-in-show {
  border-radius: 10px;
}

.photo-container {
  overflow:hidden;

}

.bg-img-overlay {
  position: relative;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8360c3; /* for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    background: linear-gradient(to right, #2ebf91, #8360c3);
    opacity: 0.6;
  }
}

.container-show {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
}

.ingredient-form {
  margin: 0 auto;
  width:90%;
}
