// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Akronim|Didact+Gothic|Lobster|Monoton|Open+Sans|Open+Sans+Condensed:300&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";

li {
  list-style: none;
  font-family: 'Didact Gothic'
}
body {
  background: #fffdf7;
}

.container {
  background-color: white;
  box-shadow: 3px 4px 8px lightgrey;
  border-radius: 10px;
  width:80%;
}

.round {
  border-radius: 5px;
}

.card {
  font-size:20px;
  background-color:#white;
  font-weight:bold;
  margin: 5px;
  box-shadow: 2px 2px 2px #white;
  height: 300px;
    overflow: hidden;
  a {
    color: #050259;
    font-family: 'Didact Gothic';
  }
}

.card:hover {
  background-color: #7C05F2;
  box-shadow: 2px 2px 8px lightgrey;
  a {
    color: #050259;
    font-size:21px;
    text-decoration: none;
  }
}

.banner-photo {
  width:100%;
  height:50%;
  box-shadow: 5px 4px 8px #0B3142;
  position:relative;
}

h1 {
  font-family: 'Lobster';
  color: #050259;
  font-size: 40px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;

}

#logo-text {
  font-family: 'Lobster';
  font-size: 38px;
  text-align: center;
  color: black;
}

.cocktail-name {
  font-family: 'Lobster';
  font-size: 25px;
  margin:10px;
}

.navbar {
  position: fixed;
  width:100%;
}


.card-ingredient {
  box-shadow: 2px 2px 8px lightgrey;
}

.photo-in-show {
  border-radius: 20px;
}
